footer {width:1440px; margin: 0 auto;
    .f_t {display: flex; justify-content: space-between; align-items: center;
        img {}
        .f_t_r {
            a { 
                img {}
            }
            a:nth-child(1):hover {
                img {content: url(../images/icon_sns2/icon_set_sns_13.png);}
            }
            a:nth-child(2):hover {
                img {content: url(../images/icon_sns2/icon_set_sns_11.png);}
            }
            a:nth-child(3):hover {
                img {content: url(../images/icon_sns2/icon_set_sns_09.png);}
            }
            a:nth-child(4):hover {
                img {content: url(../images/icon_sns2/icon_set_sns_10.png);}
            }
        }
    }
    .f_m {margin-top: 15px;
        .f_m_t {
            a {font-size: 0.75rem; margin-right: 5px;}
            a::after {content:''; width:1px; height: 12px; background: #222; display: inline-block; position: relative; left: 6px; top: 2px;}
            a:last-child::after {display:none;}
            a:hover {border-bottom: 1px #222 solid;}
        }
        .f_m_b {margin-top: 7px;
            span {font-size: 0.75rem; color: #aaa; margin-right: 5px;}
            span::after {content:''; width:1px; height: 12px; background: #aaa; display: inline-block; position: relative; left: 6px; top: 2px;}
            span:last-child::after {display:none;}
        }
        >span {font-size: 0.75rem; margin-top: 7px; display: block; color: #aaa;}
        .award {display: flex; justify-content: space-between; align-items: center;
            margin-top: 10px;
            position: relative;
            img {}
        }
    }
    .footer_bg{
        width: 1000%;
        background: #f5f5f5;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
        left: -1000px;
    }
}