.fix {
  position: fixed;
  right: 30px;
  bottom: 3%;
  z-index: 999;
}
.fix img {
  width: 50%;
}

.header_bg {
  background: #fff;
}
.header_bg header {
  width: 1440px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  border-bottom: 3px solid #f00;
}
.header_bg header nav {
  position: relative;
}
.header_bg header nav > ul {
  display: flex;
}
.header_bg header nav > ul > li {
  padding-right: 70px;
  position: relative;
  padding-bottom: 7px;
}
.header_bg header nav > ul > li a {
  font-size: 1.25rem;
  transition: all 0.1s;
}
.header_bg header nav > ul > li > a:hover {
  border-bottom: 3px #222 solid;
  padding-bottom: 4px;
}
.header_bg header nav > ul > li .sub {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
}
.header_bg header nav > ul > li .sub > li {
  margin-top: 10px;
  padding-bottom: 8px;
}
.header_bg header nav > ul > li .sub > li a {
  white-space: nowrap;
  font-size: 1rem;
}
.header_bg header nav > ul > li .sub > li:hover {
  border-bottom: dashed 1px #222;
  padding-bottom: 7px;
}
.header_bg header nav > ul > li .sub li:first-of-type {
  margin-top: 20px;
}
.header_bg header nav > ul > li:last-child {
  padding-right: 0;
}
.header_bg header nav .bg_nav {
  transition: all 0.2s;
  background: #fff;
  width: 770PX;
  height: 480px;
  position: absolute;
  top: 66px;
  z-index: -1;
  left: 0;
  margin-top: -6px;
}
.header_bg header nav .bg_nav a {
  transition: all 0.3s;
  background-image: url(../images/hongbo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  display: block;
  margin-top: 330px;
}
.header_bg header .m_nav {
  display: none;
  margin-top: -10px;
}
.header_bg header .m_nav > ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.header_bg header .m_nav > ul > li {
  position: relative;
  padding-right: 80px;
  padding-top: 10px;
}
.header_bg header .m_nav > ul > li > a {
  font-size: 1.25rem;
  display: flex;
  padding-bottom: 4px;
  transition: all 0.1s;
}
.header_bg header .m_nav > ul > li > a:hover {
  border-bottom: 3px #222 solid;
}
.header_bg header .m_nav > ul > li .sub > li {
  padding-bottom: 8px;
  margin-top: 10px;
}
.header_bg header .m_nav > ul > li .sub > li:first-child {
  margin-top: 20px;
}
.header_bg header .m_nav > ul > li .sub li:hover {
  border-bottom: dashed 1px #222;
  padding-bottom: 7px;
}
.header_bg header .m_nav .bg_nav_m {
  width: 10000%;
  background: #fff;
  height: 105%;
  position: absolute;
  top: 0;
  z-index: -1;
  left: -1000px;
}
.header_bg header .lnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_bg header .lnb .hamburger {
  display: none;
}
.header_bg header .lnb .hamburger span {
  width: 36px;
  height: 6px;
  background: #222;
  display: block;
  border-radius: 25px;
}
.header_bg header .lnb .hamburger span:nth-child(2) {
  margin: 3px 0;
}
.header_bg header .lnb > div {
  margin: 0 5px;
}
.header_bg header .lnb > div a {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}
.header_bg header .lnb > div a img {
  width: 90%;
}
.header_bg header .lnb > div a span {
  font-size: 0.75rem;
}
.header_bg header .lnb .login {
  margin-left: 0px;
  margin-right: -5px;
}
.header_bg header .lnb .search {
  margin-left: -7px;
  margin-right: 0;
}/*# sourceMappingURL=header.css.map */