main {width: 1440px; margin: 160px auto 70px;
    .login {text-align: center;
        a {padding: 0 40px; display: inline-block; padding-bottom: 5px;}
        .active {border-bottom: 3px #222 solid;}
    }
    .script {
        .join {
            position: relative; padding: 100px 200px;
            margin-top: 100px; display: flex; justify-content: space-between; align-items: center;
            .site_left{
                >a {
                    background: #fff;
                    display: flex; align-items: center; border: 1px #ddd solid; border-radius: 5px; width: 330px;
                    img {border-right: 1px #ddd solid; padding: 5px;}
                    span {padding: 0 50px;}
                }
                .user_log {
                    margin-top: 15px;
                    display: flex; justify-content: space-between; align-items: center;
                    .log_in {display: flex; flex-flow: column wrap;
                        input {padding: 14px; width:330px; border: 1px solid #ddd; border-radius: 5px; font-size: 0.75rem;}
                        .id {}
                        .ps {margin-top: 15px;}
                    }
                    > a {padding: 45px 25px; background: #ff243e; margin-left: 15px; border-radius: 5px; color: #fff;}
                }
                .left_btm {margin-top: 15px; display: flex; align-items: center; justify-content: space-between;
                    >input {}
                    label {margin-left: -110px; font-size: 0.75rem;}
                    .lnb {
                        a {font-size: 0.75rem; margin: 0 15px;}
                        a:first-child {margin-right: 0;}
                        a:last-child {margin:0;}
                        a::after {
                            content:''; width:1px; height: 12px; background: #aaa; display: inline-block; position: relative; left: 10px; top: 1px;
                        }
                        a:last-child::after {display: none;}
                        a:hover {color: #aaa;}
                    }
                }
            }
            .site_right{
                > a {
                    background: #fff;
                    display: flex; align-items: center; border: 1px #ddd solid; border-radius: 5px; width: 330px;
                    img {border-right: 1px #ddd solid; padding: 10px;}
                    span {padding: 0 50px;}
                }
                > a:nth-child(2) {margin: 35px 0;}
            }
            .bg_join {
                width: 1000%;
                background: #f5f5f5;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: -1;
                left: -1000px;
            }
        }
        // 비회원
        .no_join {position: relative; padding: 90px 200px; margin-top: 100px; display: flex; flex-flow: column wrap; display: none;
            .check_be {
                dl {display: flex; align-items: center; justify-content: space-between; margin-top: 15px; width:500px;
                    dt {font-weight: 700;}
                    dd {
                        input {padding: 10px; width: 330px; border-radius: 5px; border: 1px #ddd solid;}
                    }
                }
                span {margin: 10px 0; display: block;}
            }
            .textarea {background: #fff; overflow-y: scroll; margin-top: 70px; padding:25px; height:330px; border: 1px #ddd solid;
                span {line-height: 1.5; display: inline-block;}
                span:nth-child(1){}
                span:nth-child(2){margin: 45px 0; color: #FF7787;}
                span:nth-child(3){}
            }
            .agree_check {display: flex; justify-content: end; align-items: center; margin-top: 15px;
                .check_wrap {
                    margin-right: 30px; display: flex;
                    align-items: center;
                }
                .check_wrap2 {display: flex;
                    align-items: center;
                }
                input {width:16px; height: 16px;margin-right: 5px;}
                #agree {}
                #reject {}
            }
            .button {text-align: center;
                a {
                    display: inline-block; border-radius: 5px;
                    background: #ff243e; color: #fff; 
                    margin-top: 45px; width: 200px; line-height: 46px;}
            }
            .bg_nojoin {
                width: 1000%;
                background: #f5f5f5;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: -1;
                left: -1000px;
            }
    }
    }
    .bnr {display: flex; justify-content: center; margin-top: 70px;
        a {
            img {width: 100%; height: 100%;}
        }
    }
}