main {width:1440px; margin: 160px auto 70px; overflow-x: hidden;
    > h1 {font-size: 2rem;}
    .tab_m {text-align: center; margin: 50px 0;
        a {padding: 5px; transition: all 0.07s;}
        a:hover {
            border-bottom: 3px #aaa solid;
            
        }
        .active {border-bottom: 3px #f00 solid;}
        a:nth-child(2){margin: 0 30px;}
        a:nth-child(3){margin-right: 30px;}
    }
    .campaign_d {margin: 50px auto;
        h2 {margin: 70px 0 35px; font-size: 1.5rem;}
        .movie_wrap {display: flex;
            .movie {margin: 35px 0;
                > a {
                    img {}
                    .img_bg {
                        span {}
                    }
                }
                > a:nth-of-type(1) {
                }
                > a:nth-of-type(2) {}
                > a:nth-of-type(3) {}
                .point {
                    .point_left {
                        img {}
                        > span {}
                    }
                    > span {}
                }
            }
            .movie_ad {
                a {
                    img {}
                }
            }
        }
    
    }
    .campaign_d_1 {
        h2 {}
        .movie_wrap { margin: 0 auto;
            .movie {display: flex; flex-flow:column wrap; justify-content: center; align-content: center;
                > a {
                    img {}
                    .img_bg {
                        span {}
                    }
                }
                > a:nth-of-type(1) {background: #fb4357; color:#fff; text-align: center;
                                    padding:12px; width:75%;
                                }
                > a:nth-of-type(2) {width:75%; margin: 30px 0; position: relative;
                    img {width:100%;}
                    .img_bg {transition: all 0.2s;
                        position: absolute; bottom: -10px;
                        background: linear-gradient(0deg, rgba(0,0,0,0.8), transparent 100%); width: 100%; height: 80px;
                        span {
                            font-weight:700; font-size: 3rem;color: #fff; position: absolute; left: 5px; bottom: 5px;
                            transform: skewX(-10deg);
                        }
                    }
                    
                }
                > a:nth-of-type(3) {
                    width:105px; line-height:40px; background: #fb4357; color: #fff; display: inline-block; border-radius: 20px; margin-bottom: 5px; text-align: center;
                }
                > a:nth-of-type(3):hover {
                    box-shadow: 0 0 5px #222;
                }
                .point {
                    margin: 0 0 15px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .point_left {margin-right: 20px;
                        img {}
                        > span {}
                        >span::after {content:''; width:1px; height: 12px; background: #aaa; display: inline-block; position: relative; left: 10px; top: 0px;}
                    }
                    > span {}
                }
            }
            .movie_ad { margin-top: 105px; padding: 0 50px;
                a {
                    img {width:127%;}
                }
            }
        }
        .movie_wrap_4 {margin: 0;}
        > a { margin: 0 auto; width: 80%;text-align: center;display: flex; align-items: center; border: #ddd 1px solid ; justify-content: center; padding: 10px;
            >span {}
            >img {}
        }
        // 배너 (1,2)
        .bnr {width: 100%; margin: 50px auto 0;
            a {
                display: flex;
                justify-content: center;
                height: 200px;
                img {  max-width: 100%;
                    height: auto;}
            }
        }
    }
    // 캠페인 1끝
    .campaign_d_2 {
        h2 {}
        .may {
            > .movie_wrap {
                .movie {
                    display: flex; flex-flow:column wrap; justify-content: center; align-content: center;
                    > a {
                        img {}
                        .img_bg {
                            span {}
                        }
                    }
                    > a:nth-of-type(1) {width:75%; margin: 30px 0; position: relative;
                        img {width:100%;}
                        .img_bg {
                            position: absolute; bottom: -10px;
                            background: linear-gradient(0deg, rgba(0,0,0,0.8), transparent 100%); width: 100%; height: 80px;
                            span {
                                font-weight:700; color: #fff; position: absolute; left: 5px; bottom: 10px;
                                transform: skewX(-10deg);
                            }
                        }
                    }
                    > a:nth-of-type(2) {
                        width:105px; line-height:40px; background: #fb4357; color: #fff; display: inline-block; border-radius: 20px; margin-bottom: 5px; text-align: center;
                    }
                    > a:nth-of-type(2):hover {
                        box-shadow: 0 0 5px #222;
                    }
                    .point {
                        margin: 0 0 15px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .point_left {margin-right: 20px;
                            img {}
                            > span {}
                            >span::after {content:''; width:1px; height: 12px; background: #aaa; display: inline-block; position: relative; left: 10px; top: 0px;}
                        }
                        > span {}
                    }
                }
                .movie_ad { margin-top: 105px; padding: 0 50px;
                    a {
                        img {width:120%;}
                    }
                }
            }
        }
        .june {
            > .movie_wrap {
                .movie {
                    display: flex; flex-flow:column wrap; justify-content: center; align-content: center;
                    > a {
                        img {}
                        .img_bg {
                            span {}
                        }
                    }
                    > a:nth-of-type(1) {width:75%; margin: 30px 0; position: relative;
                        img {width:100%;}
                        .img_bg {
                            position: absolute; bottom: -10px;
                            background: linear-gradient(0deg, rgba(0,0,0,0.8), transparent 100%); width: 100%; height: 80px;
                            span {
                                font-weight:700; color: #fff; position: absolute; left: 5px; bottom: 10px;
                                transform: skewX(-10deg);
                            }
                        }
                    }
                    > a:nth-of-type(2) {
                        width:105px; line-height:40px; background: #fb4357; color: #fff; display: inline-block; border-radius: 20px; margin-bottom: 5px; text-align: center;
                    }
                    > a:nth-of-type(2):hover {
                        box-shadow: 0 0 5px #222;
                    }
                    .point {
                        margin: 0 0 15px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .point_left {margin-right: 20px;
                            img {}
                            > span {}
                            >span::after {content:''; width:1px; height: 12px; background: #aaa; display: inline-block; position: relative; left: 10px; top: 0px;}
                        }
                        > span {}
                    }
                }
            }
        }
        > .movie_wrap {
            .movie {
                display: flex; flex-flow:column wrap; justify-content: center; align-content: center;
                > a {
                    img {}
                    .img_bg {
                        span {}
                    }
                }
                > a:nth-of-type(1) {
                    background: #fb4357; color:#fff; text-align: center;
                    padding:12px; width:75%;
                }
                > a:nth-of-type(2) {width:75%; margin: 30px 0; position: relative;
                    img {width:100%;}
                    .img_bg {
                        position: absolute; bottom: -10px;
                        background: linear-gradient(0deg, rgba(0,0,0,0.8), transparent 100%); width: 100%; height: 80px;
                        span {
                            font-weight:700; color: #fff; position: absolute; left: 5px; bottom: 10px;
                            transform: skewX(-10deg);
                        }
                    }
                }
                > a:nth-of-type(3) {
                    width:105px; line-height:40px; background: #fb4357; color: #fff; display: inline-block; border-radius: 20px; margin-bottom: 5px; text-align: center;
                }
                > a:nth-of-type(3):hover {
                    box-shadow: 0 0 5px #222;
                }
                .point {
                    margin: 0 0 15px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .point_left {margin-right: 20px;
                        img {}
                        > span {}
                        >span::after {content:''; width:1px; height: 12px; background: #aaa; display: inline-block; position: relative; left: 10px; top: 0px;}
                    }
                    > span {}
                }
            }
            .movie_ad { margin-top: 105px; padding: 0 45px;
                a {
                    img {width:127%;}
                }
            }
        }
    }
    // 상영예정작 끝
    .campaign_d_3 {
        h2 {}
        .artwork {display: flex; justify-content: space-between; align-items: center;
            .img_1 {display: flex; flex-flow: column wrap; justify-content: center; align-content: center; width: 30%; height:500px;
                background: url(../images/plan/bg_exhib_01_1.png) no-repeat; background-size: cover; background-position: center;
                padding: 25px; position: relative;
                > span {
                    font-weight: 700; 
                    margin: 0 auto; font-size: 1.5rem;}
                >span:first-child {margin-top: -200px; line-height: 2;}
                >span:last-child {}
                > a {margin: 0 auto; line-height: 3;
                font-size: 0.75rem; font-weight: 700; color: #ccc;
                }
                .swiper {position: absolute; top:200px; left: 0%; width:432px; height:500px;
                    .swiper-wrapper {
                        .swiper-slide {
                            display: flex; flex-flow:column wrap; justify-content: center; align-content: center;
                            a {width:60%; margin: 30px 0;
                                img {width:100%;}
                            }
                            .point {
                                margin: 0 0 15px 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .point_left {margin-right: 20px;
                                    img {}
                                    > span {}
                                    >span::after {content:''; width:1px; height: 12px; background: #aaa; display: inline-block; position: relative; left: 10px; top: 0px;}
                                }
                                > span {}
                            }
                        }
                    }
                    .swiper-button-next {}
                    .swiper-button-prev {}
                    .swiper-button-next:after, .swiper-button-prev:after {
                        content: 'next';
                        display: none;
                    }
                }
            }
            .img_2 {display: flex; flex-flow: column wrap; justify-content: center; align-content: center; width: 30%;
                background: url(../images/plan/bg_exhib_02.png) no-repeat; background-size: cover; position: relative;
                padding: 25px; height:500px; background-position: center;
                > span {
                    font-weight: 700;
                    margin: 0 auto; font-size: 1.5rem; color:#fff; }
                >span:first-child {margin-top: -230px;line-height: 2;}
                > a {margin: 0 auto;
                font-size: 0.75rem; font-weight: 700; color: #ccc;
                }
                .img_bg {
                    width: 100%;
                    background: rgba(0,0,0,0.3);
                    height: 100%;
                    position: absolute;
                    top: 0;
                    z-index: 0;
                    left: 0;
                    span {
                        text-align: center;
                        color:#fff;
                        display: block;
                    }
                    span:first-child {
                        font-size: 1.3rem;
                        margin-top: 200px;
                        line-height: 2;
                    }
                }
            }
            .img_3 {display: flex; flex-flow: column wrap; justify-content: center; align-content: center; width: 30%;
                background: url(../images/plan/bg_exhib_03-1.png) no-repeat; background-size: cover; position: relative;
                padding: 25px; height:500px; background-position: center;
                > span {
                    font-weight: 700; margin-top: -200px;
                    margin: 0 auto; font-size: 1.25rem; color:#fff; line-height: 1.8;}
                >span:first-child {margin-top: -230px;line-height: 2;}
                > a {margin: 0 auto; 
                font-size: 0.75rem; font-weight: 700; color: #ccc;
                }
                .img_bg {
                    width: 100%;
                    background: rgba(0,0,0,0.5);
                    height: 100%;
                    position: absolute;
                    top: 0;
                    z-index: 0;
                    left: 0;
                    span {
                        color:#fff;
                        display: block;
                        text-align: center;
                    }
                    span:first-child {
                        font-size: 1.3rem;
                        margin-top: 200px;
                        line-height: 2;
                    }
                }
            }
        }
        .bnr_2 {width: 100%; margin: 150px auto 0;
            a {
                display: flex;
                justify-content: center;
                height: 200px;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
    .campaign_d_4 {
        h2 {}
        .d_wrap {width: 980px; margin: 0 auto; 
            background: #fafafa;
            display: flex;
            flex-flow: column wrap;
            > img {width:100%;}
            video {width:720px; margin: 50px 125px; padding-bottom: 50px; border-bottom: 1px #222 solid;}
            .intro_span {display: flex; flex-flow:column wrap; width: 720px; margin: 0 auto;
                .span_top {
                    p {font-weight: 800; line-height: 2; font-size: 1.25rem;}
                    span {line-height: 1.5;}
                }
                .span_btm {margin-top: 20px; display: flex; justify-content: space-between;
                    .left {
                        p {font-weight: 800; line-height: 2;}
                        dl {
                            dt {line-height: 1.5;}
                            dd {font-size: 0.8rem; 
                                line-height: 1.5;}
                        }
                    }
                    .right {
                        p {font-weight: 800; line-height: 2;}
                        span {display: block; line-height: 1.2;}
                    }
                }
                .span_info {
                    p {line-height: 2; font-size: 0.9rem; }
                    span {line-height: 1.5; font-size: 0.9rem; }
                }
            }
            .swiperd_4 {width:720px; margin: 0 auto ;margin-top: 70px; position: relative; height:1650px;
                .swiper-wrapper {
                    .slide_g {
                        img {transform: translateX(55px);}
                        .info_wrap { position: absolute; top: 900px;
                            h1 {font-size: 2.5rem; font-weight: 800; margin-top: 50px; margin-bottom: 40px;}
                            .span_wrap_t {display: flex; margin-top: 20px; justify-content: space-between;
                                .left_mo {width:60%;
                                    p {font-weight: 800;}
                                    span {line-height: 1.5; margin-top: 30px; display: block;}
                                    span:first-child {}
                                }
                                .right_mo {
                                    p {font-weight: 800; margin-bottom: 30px;}
                                    dl {
                                        dt {font-weight: 800;}
                                        dd {margin: 10px 0;}
                                    }
                                }
                            }
                            > p {margin-top: 20px;}
                        }
                    }
                    .slide_g1 {
                        img {}
                        .info_wrap {
                            h1 {color:#4369e4;}
                            .span_wrap_t {
                                .left_mo {
                                    p {}
                                    span {}
                                    span:first-child {}
                                }
                                .right_mo {
                                    p {color:#4369e4;}
                                    dl {
                                        dt {color:#4369e4;}
                                        dd {color:#4369e4;}
                                    }
                                }
                            }
                            > p {}
                        }
                    }
                    .slide_g2 {
                        img {}
                        .info_wrap {
                            h1 {color:#b10c0c;}
                            .span_wrap_t {
                                .left_mo {
                                    p {}
                                    span {}
                                    span:first-child {}
                                }
                                .right_mo {
                                    p {color:#b10c0c;}
                                    dl {
                                        dt {color:#b10c0c;}
                                        dd {color:#b10c0c;}
                                    }
                                }
                            }
                            > p {}
                        }
                    }
                    .slide_g3 {
                        img {}
                        .info_wrap {
                            h1 {color:#e92867;}
                            .span_wrap_t {
                                .left_mo {
                                    p {}
                                    span {}
                                    span:first-child {}
                                }
                                .right_mo {
                                    p {color:#e92867;}
                                    dl {
                                        dt {color:#e92867;}
                                        dd {color:#e92867;}
                                    }
                                }
                            }
                            > p {}
                        }
                    }
                }
                .swiper-button-next {}
                .swiper-button-prev {}
                .swiper-button-next:after, .swiper-button-prev:after {
                    content: 'next';
                    display: none;
                }
            }
            .caution { padding: 25px; border: 1px solid #000; width:720px; margin: 0 auto 50px;
                p {line-height: 1.5; font-weight: 800;}
                dl {margin-top: 12px;
                    dt {line-height: 2;}
                    dd {line-height: 1.5; font-size: 0.8rem; list-style: disc;}
                }
            }
        }
    }
}